body {
    background-color: darkgreen;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

kbd {
    background-color: white;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 200px;
    border: 5px solid gray;
    line-height: 275px;
    margin-left: -5px;
}